header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;

  padding: 20px;
  background-color: #000;
}

.logo {
  text-decoration: none;
  font-size: 35px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.favoritos {
  text-decoration: none;
  cursor: pointer;
  background-color: #fff;
  padding: 5px 15px;
  color: #000;
  border-radius: 5px;
}
